
*.props
*.css
*.dll
hosted_pool/obj/Release/net6.0/staticwebassets.publish.json
hosted_pool/obj/Release/net6.0/staticwebassets.pack.json
hosted_pool/obj/Release/net6.0/staticwebassets.development.json
hosted_pool/obj/Release/net6.0/staticwebassets.build.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery/LICENSE.txt
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery/dist/jquery.min.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery/dist/jquery.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery/dist/jquery.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation/LICENSE.md
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation/dist/jquery.validate.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation/dist/jquery.validate.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation/dist/additional-methods.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation/dist/additional-methods.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation-unobtrusive/LICENSE.txt
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/LICENSE
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.min.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.esm.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.esm.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.esm.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.rtl.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-utilities.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-reboot.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/lib/bootstrap/dist/css/bootstrap-grid.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/js/site.js
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/Identity/favicon.ico
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/favicon.ico
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/README.md
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/ICON-LICENSE
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/open-iconic/FONT-LICENSE
hosted_pool/obj/Release/net6.0/PubTmp/Out/wwwroot/css/bootstrap/bootstrap.min.css.map
hosted_pool/obj/Release/net6.0/PubTmp/Out/web.config
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/osx-x64/native/libe_sqlite3.dylib
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/osx-arm64/native/libe_sqlite3.dylib
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-x86/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-x64/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-s390x/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-musl-x64/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-mips64/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-armel/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-arm64/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/linux-arm/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/runtimes/alpine-x64/native/libe_sqlite3.so
hosted_pool/obj/Release/net6.0/PubTmp/Out/hosted_pool.runtimeconfig.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/hosted_pool.pdb
hosted_pool/obj/Release/net6.0/PubTmp/Out/hosted_pool.deps.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/hosted_pool
hosted_pool/obj/Release/net6.0/PubTmp/Out/choice_secret.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/appsettings.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/appsettings.Development.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/app.db
hosted_pool/obj/Release/net6.0/PubTmp/hosted_pool-20220925224330535.zip
hosted_pool/obj/Release/net6.0/PublishOutputs.70986bc71c.txt
hosted_pool/obj/Release/net6.0/hosted_pool.RazorAssemblyInfo.cs
hosted_pool/obj/Release/net6.0/hosted_pool.RazorAssemblyInfo.cache
hosted_pool/obj/Release/net6.0/hosted_pool.pdb
hosted_pool/obj/Release/net6.0/hosted_pool.MvcApplicationPartsAssemblyInfo.cs
hosted_pool/obj/Release/net6.0/hosted_pool.MvcApplicationPartsAssemblyInfo.cache
hosted_pool/obj/Release/net6.0/hosted_pool.GlobalUsings.g.cs
hosted_pool/obj/Release/net6.0/hosted_pool.genruntimeconfig.cache
hosted_pool/obj/Release/net6.0/hosted_pool.GeneratedMSBuildEditorConfig.editorconfig
hosted_pool/obj/Release/net6.0/hosted_pool.csproj.FileListAbsolute.txt
hosted_pool/obj/Release/net6.0/hosted_pool.csproj.CoreCompileInputs.cache
hosted_pool/obj/Release/net6.0/hosted_pool.csproj.CopyComplete
hosted_pool/obj/Release/net6.0/hosted_pool.csproj.AssemblyReference.cache
hosted_pool/obj/Release/net6.0/hosted_pool.assets.cache
hosted_pool/obj/Release/net6.0/hosted_pool.AssemblyInfoInputs.cache
hosted_pool/obj/Release/net6.0/hosted_pool.AssemblyInfo.cs
hosted_pool/obj/Release/net6.0/apphost
hosted_pool/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
hosted_pool/obj/project.nuget.cache
hosted_pool/obj/project.assets.json
hosted_pool/obj/hosted_pool.csproj.nuget.g.targets
hosted_pool/obj/hosted_pool.csproj.nuget.dgspec.json
hosted_pool/obj/Debug/net6.0/staticwebassets.pack.json
hosted_pool/obj/Debug/net6.0/staticwebassets.development.json
hosted_pool/obj/Debug/net6.0/staticwebassets.build.json
hosted_pool/obj/Debug/net6.0/hosted_pool.RazorAssemblyInfo.cs
hosted_pool/obj/Debug/net6.0/hosted_pool.RazorAssemblyInfo.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.pdb
hosted_pool/obj/Debug/net6.0/hosted_pool.MvcApplicationPartsAssemblyInfo.cs
hosted_pool/obj/Debug/net6.0/hosted_pool.MvcApplicationPartsAssemblyInfo.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.GlobalUsings.g.cs
hosted_pool/obj/Debug/net6.0/hosted_pool.genruntimeconfig.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.GeneratedMSBuildEditorConfig.editorconfig
hosted_pool/obj/Debug/net6.0/hosted_pool.csproj.FileListAbsolute.txt
hosted_pool/obj/Debug/net6.0/hosted_pool.csproj.CoreCompileInputs.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.csproj.CopyComplete
hosted_pool/obj/Debug/net6.0/hosted_pool.csproj.AssemblyReference.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.assets.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.AssemblyInfoInputs.cache
hosted_pool/obj/Debug/net6.0/hosted_pool.AssemblyInfo.cs
hosted_pool/obj/Debug/net6.0/apphost
hosted_pool/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
hosted_pool/bin/Release/net6.0/runtimes/osx-x64/native/libe_sqlite3.dylib
hosted_pool/bin/Release/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
hosted_pool/bin/Release/net6.0/runtimes/linux-x86/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-x64/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-s390x/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-mips64/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-armel/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-arm64/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/linux-arm/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/runtimes/alpine-x64/native/libe_sqlite3.so
hosted_pool/bin/Release/net6.0/hosted_pool.staticwebassets.runtime.json
hosted_pool/bin/Release/net6.0/hosted_pool.runtimeconfig.json
hosted_pool/bin/Release/net6.0/hosted_pool.pdb
hosted_pool/bin/Release/net6.0/hosted_pool.deps.json
hosted_pool/bin/Release/net6.0/hosted_pool
hosted_pool/bin/Release/net6.0/choice_secret.json
hosted_pool/bin/Release/net6.0/appsettings.json
hosted_pool/bin/Release/net6.0/appsettings.Development.json
hosted_pool/bin/Release/net6.0/app.db
hosted_pool/bin/Debug/net6.0/runtimes/osx-x64/native/libe_sqlite3.dylib
hosted_pool/bin/Debug/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
hosted_pool/bin/Debug/net6.0/runtimes/linux-x86/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-x64/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-s390x/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-mips64/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-armel/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-arm64/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/linux-arm/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/runtimes/alpine-x64/native/libe_sqlite3.so
hosted_pool/bin/Debug/net6.0/hosted_pool.staticwebassets.runtime.json
hosted_pool/bin/Debug/net6.0/hosted_pool.runtimeconfig.json
hosted_pool/bin/Debug/net6.0/hosted_pool.pdb
hosted_pool/bin/Debug/net6.0/hosted_pool.deps.json
hosted_pool/bin/Debug/net6.0/hosted_pool
hosted_pool/bin/Debug/net6.0/choice_secret.json
hosted_pool/bin/Debug/net6.0/appsettings.json
hosted_pool/bin/Debug/net6.0/appsettings.Development.json
hosted_pool/bin/Debug/net6.0/app.db
hosted_pool/choice_secret_.json
hosted_pool/choice_secret.json
*.zip
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
.vs/hosted_pool/xs/project-cache/hosted_pool-Release.json
hosted_pool/app.db
hosted_pool/app.db-shm
hosted_pool/app.db-wal
hosted_pool/Properties/PublishProfiles/pool - Zip Deploy.pubxml
hosted_pool/Properties/PublishProfiles/pool - Zip Deploy.pubxml.user
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
hosted_pool/app.db
hosted_pool/app.db-shm
hosted_pool/app.db-wal
hosted_pool/app.db-wal
hosted_pool/app.db-shm
hosted_pool/app.db
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
hosted_pool/app.db-wal
hosted_pool/app.db-shm
hosted_pool/app.db
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
hosted_pool/obj/Release/net6.0/PubTmp/Out/oauth.json
hosted_pool/oauth.json
hosted_pool/bin/Debug/net6.0/oauth.json
hosted_pool/bin/Release/net6.0/oauth.json
hosted_pool/app.db
hosted_pool/app.db
.vs/hosted_pool/xs/project-cache/hosted_pool-Debug.json
