@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject AuthenticationStateProvider aspService
<PageTitle>hosted_pool</PageTitle>

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@
    @*<LoginDisplay />*@
    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized><a href="Identity/Account/Manage"> @_name</a></Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>

                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a href="Identity/Account/Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    public string _name = "";
        private AuthenticationState state;
        protected override async Task OnInitializedAsync()
        {
            state = await aspService.GetAuthenticationStateAsync();
            if (state.User.Identity.IsAuthenticated)
            {
                var name = state.User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value.ToString();
                var name_parts = name.Split(".");
                _name = string.Join(" ", name_parts);
            }
        }
    }